<!DOCTYPE html>
<html>
    <head>
    <title><%= title %> </title>    

    </head>

    <body>
        <% include header %> 
        <h1 align = "center">Welcome to Scoops Icecream </h1>
        <h3 align = "center">We provide wide range of icecream varieties in our restaurant. </h3>
    <body>

</html>